[submodule "submodules/Behira"]
	path = submodules/Behira
	url = git@github.com:I-have-an-H/Behira.git
[submodule "submodules/Jareth"]
	path = submodules/Jareth
	url = git@github.com:I-have-an-H/Jareth.git
[submodule "submodules/Kohana"]
	path = submodules/Kohana
	url = git@github.com:I-have-an-H/Kohana.git
[submodule "submodules/Stheno"]
	path = submodules/Stheno
	url = git@github.com:I-have-an-H/Stheno.git
[submodule "submodules/Sthore"]
	path = submodules/Sthore
	url = git@github.com:I-have-an-H/Sthore.git
[submodule "submodules/Veloth"]
	path = submodules/Veloth
	url = git@github.com:I-have-an-H/Veloth.git
[submodule "submodules/Zenith"]
	path = submodules/Zenith
	url = git@github.com:I-have-an-H/Zenith.git
[submodule "submodules/Zephyra"]
	path = submodules/Zephyra
	url = git@github.com:I-have-an-H/Zephyra.git


